*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex-center-description(){
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin flex-spc-btw-description(){
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

body {
    min-height: 100vh;
    @include flex-center-description();
}

.mdl-header{
    width: 100%;
    background: linear-gradient(270.04deg, #FFFAE0 0.03%, rgba(240, 255, 246, 0) 99.96%), #FFC0C0;
    @include flex-spc-btw-description();

    .profile-data{
        @include flex-center-description();
        
        div{
            padding-left: 10px;

            h5{
                margin: 0;
                padding-left: 10px;
            }
        }
    }
    .city-name{
        background-color: white;
        padding: 0 10px;
    }
}


.modal-body{
    width: 100%;
    background-color: white;

    .modal-card{
        min-width: 117px;
        padding: 0;
        margin: 5px;
        background: #FFFFFF;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    
        .modal-detail{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px;
    
            i{
                color: #ED8383;
            }
        }
    
        input{
            background: #FFF6EF;
            border: none;
            border-radius: 0px 0px 4px 4px;
            width: 100%;
            padding: 5px;
        }
    }
}



.modal-journey-track{
    width: 100%;
    background: #F8F8F8;
    border-radius: 6px 6px 8px 8px;
    padding: 30px 20px;

    .journey-title{
        width: 100%;
        @include flex-spc-btw-description();

        .elaps-time{
            background-color: white;
            margin-left: 10px;
            color: red;
        }
    }

    ul{
        list-style: none;

        li{ 
            position: relative;
            display: flex;
            align-items: center;
            margin-left: 1rem;
            

            div{
                margin:  15px 0px 10px 30px;

                .datetime{
                    font-size: small;
                    font-weight: 200;
                }
                i{
                    color: #3762A4;
                }
            }
            .check{
                font-size: 50px;
                color: #3AB748;
            }

            .uncheck{
                padding: 15px;
                background-color: white;
                border-radius: 50%;
            }

            .check::after{
                content: '';
                background-color:#ccc ;
                height: 70px;
                width: 2px;
                display: block;
                position: absolute;
                left: 25px;
            }
        }
    }
}



